.tp-10 {
  padding-top: 10px;
}
.tp-15 {
  padding-top: 15px;
}
.tp-20 {
  padding-top: 20px;
}
.bp-10 {
  padding-bottom: 10px;
}
.rp-10 {
  padding-right: 10px;
}
.tm-10 {
  margin-top: 10px;
}
.tm-20 {
  margin-top: 20px;
}
.bm-10 {
  margin-bottom: 10px;
}
.hm-25 {
  margin-right: 25px;
  margin-left: 25px;
}
.fl-r {
  float: right;
}
.fl-l {
  float: left;
}
.sub-title {
  font-size: 30px;
  font-weight: bolder;
  color: darkblue;
}
.alert-c {
  position: absolute;
  top: -130px;
  width: 20%;
}
.progressing {
  position: absolute;
  top: 50%;
  left: 48%;
}